# Tituli 1
## Titulo 2
![alt text](https://github.com/adam-p/markdown-here/raw/master/src/common/images/icon48.png "Logo Title Text 1")
```javascript
var s = "JavaScript syntax highlighting";
alert(s);
```
 
```python
s = "Python syntax highlighting"
print s
```
 
```
No language indicated, so no syntax highlighting. 
But let's throw in a <b>tag</b>.
```

In [3]:
print ("Hola Mundo")

Hola Mundo

In [2]:
print ("Hola Mundo")

Hola Mundo

In [11]:
# No tipado (no se declara la variables)
# Variables primitivas 
entero = 4
decimales = 1.1
string = "Jefferson"
segundo_nombre = "Paul" # no se debe utilizar camel case "segundoNombre" para el nombrado del proyecto no debe empezar con numeros
casado = False 
estudiante = True 
hijos = None
print (type (entero)) #int
print (type (decimales)) #float
print (type (string)) #string
print (type (segundo_nombre))
print (type (casado)) # boolean
print (type (estudiante)) # boolen
print (type (hijos)) # non type

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'NoneType'>

In [8]:
cadena_texto = """
Es uno de los poetas preferidos por gran parte de los lectores de poesía y también por los que no lo son habitualmente.
Uno de los más leídos y de los más queridos. 
A continuación puedes leer mi selección de los mejores poemas de Mario Benedetti.

"""
print (cadena_texto)

Es uno de los poetas preferidos por gran parte de los lectores de poesía y también por los que no lo son habitualmente.
Uno de los más leídos y de los más queridos.
A continuación puedes leer mi selección de los mejores poemas de Mario Benedetti.

In [20]:
print (entero)
entero = decimales
entero = hijos 
entero = casado
entero = segundo_nombre
print (entero)

False
Paul

In [14]:
# Condiciones 
# Truty - Flasy 
tuplas = (1,2,3) #Arreglos que no se pueden modificar
listas = [4,5,6] #arreglo que se pueden modoficar 
diccionario = {
    "nombre": "Jefferson"
}
if ('Jefferson'):
    #todo lo que vayamos a escribir va a estar dentro de if 
    #
    print('Truty')
else:
    #continuamos el codigo
    print ('Falsy')
if (''):
    print('Truty')
else:
    print('Falsy')
    
    
noulo = None
if (noulo):
     print('Truty')
else:
    print('Falsy')
# Numeros entero positivos y negativos, numeros decimales    
if (1):
     print('Truty')
else:
    print('Falsy')
if (0):
     print('Truty')
else:
    print('Falsy')
if (-1):
     print('Truty')
else:
    print('Falsy')
if (1.2):
     print('Truty')
else:
    print('Falsy')
if (-1.2):
     print('Truty')
else:
    print('Falsy')
    
#Tupla 
if (()):    
     print('Truty')
else:
    print('Falsy')
    
if ((1,2,3)):    
     print('Truty')
else:
    print('Falsy')
    
# Lista   
if ([]):
     print('Truty')
else:
    print('Falsy')
if ([1,2,3]):
     print('Truty')
else:
    print('Falsy')
    
# Diccionarios 
if ({}):
     print('Truty')
else:
    print('Falsy')
    
nombre = "nombre" 
if ({nombre:"Jefferson"}):
     print('Truty')
else:
    print('Falsy')

Truty
Falsy
Falsy
Truty
Falsy
Truty
Truty
Truty
Falsy
Truty
Falsy
Truty
Falsy
Truty

In [15]:
arreglo = [1,2,3,4,5,6,7,8,9,10]

In [29]:
arreglo[0:3] #[0,3[
arreglo[5:]  #Hasta el final 
arreglo[:7]  #Desde el principio hasta la posicion 7
arreglo[-1]  #elegira la ultima posicion
arreglo[-10] #Indice negativo empieza desde el final 
arreglo[3:-2]
arreglo[-8:8]#Desde el tres al 8
arreglo[-4:-1]
arreglo[-7:]
arreglo[:-3]
arreglo[:] #Cogera toda la lista 

arregloTupla = (1,2,3,4,5,6,7,8,9,10)

[]

In [30]:
arreglo[5:9]

[6, 7, 8, 9]

In [35]:
diccionario = {
    "nombre": "Jefferson",
    "apellido": "Collantes",
    "sueldo": 0
}
diccionario["apellido"]

'Collantes'

In [38]:
10 in arreglo

True

In [40]:
print (type (5 in arreglo))

<class 'bool'>

In [42]:
len(arregloTupla)

10

In [43]:
len (diccionario)

3

In [44]:
len (arreglo)

10

In [46]:
"nombre" in diccionario # para diccionarios se debe escribir la llave a buscar

True

In [50]:
#arregloTupla[0] = 2 #En tuplas no se puede modifcar 
arreglo[0]=2 # En una lista si podremos cambiar el contenido

In [51]:
arreglo[:]
#arregl.pop
#arreglo.append
#arreglo.insert

[2, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [55]:
#for numeroLista in arreglo:
#for numeroLista in arregloTupla:
for numeroLista in diccionario:
    print(numeroLista)

nombre
apellido
sueldo

In [57]:
contador =0 
while contador < 10:
    print (contador)
    contador += 1

0
1
2
3
4
5
6
7
8
9

In [58]:
# No se debe utilizar este tipo de sintaxis
jefferson ={
    True: "Jefferson",
    False: "Collantes",
    1: 12.2,
    'edad': 22,
    "mascotas": [{"nombre":"cachetes"}],
    None:None
    
    
    
}

In [61]:
jefferson [False]

'Collantes'

In [64]:
jefferson['edad'] = 19
jefferson["mascotas"][0]["nombre"] = "Panfa"

In [65]:
jefferson

{True: 12.2,
 False: 'Collantes',
 'edad': 19,
 'mascotas': [{'nombre': 'Panfa'}],
 None: None}

In [66]:
jefferson.keys()

dict_keys([True, False, 'edad', 'mascotas', None])

In [67]:
jefferson.values()

dict_values([12.2, 'Collantes', 19, [{'nombre': 'Panfa'}], None])

In [68]:
print (type (jefferson.keys()))

<class 'dict_keys'>

In [69]:
print (type (jefferson.values()))

<class 'dict_values'>

In [70]:
for llave in jefferson.keys():
    print(llave)

True
False
edad
mascotas
None

In [72]:
for valor in jefferson.values():
    print(valor)

12.2
Collantes
19
[{'nombre': 'Panfa'}]
None

In [73]:
1 == 1 or 2 == 2
1 != 1 and 2 != 2

False