In [ ]:
#1) Examen

In [1]:
import numpy as np
import pandas as pd

In [2]:
#2) Crear un vector de ceros de tamaño 10
vectorXeros = np.zeros(10)
vectorXeros

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [3]:
#3) Crear un vector de ceros de tamaño 10 y el de la posicion 5 sea igual a 1
vectorXeros2 = np.zeros(10)
vectorXeros2[4] = 1
vectorXeros2

array([0., 0., 0., 0., 1., 0., 0., 0., 0., 0.])

In [4]:
#4) Cambiar el orden de un vector de 50 elementos, el de la posicion 1 es el de la 50 etc.
vectorInvertido = np.arange(50)
vectorInvertido = vectorInvertido[::-1]
print(vectorInvertido)

[49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26
 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10  9  8  7  6  5  4  3  2
  1  0]

In [7]:
#5) Crear una matriz de 3 x 3 con valores del cero al 8
matriz_creciente = np.arange(9).reshape(3,3)
matriz_creciente

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [9]:
#6) Encontrar los indices que no sean cero en un arreglo
mayorcero = np.array([1,2,0,0,4,0])
mayor = mayorcero > 0
mayorcero[mayor]

array([1, 2, 4])

In [10]:
#7) Crear una matriz de identidad 3 x 3
matriz_identidad = np.eye(3)
matriz_identidad

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [11]:
#8) Crear una matriz 3 x 3 x 3 con valores randomicos
tres = np.random.randn(3,3,3)
tres

array([[[-0.18882789, -0.67117525, -0.31085774],
        [ 0.13122576, -0.82349758,  0.89069314],
        [ 1.37877992, -0.52975854,  0.54880305]],

       [[ 0.78940564, -0.02678204, -0.94829582],
        [-1.08707913, -0.13782856, -0.22217775],
        [-0.73227437, -0.6824505 ,  0.57417758]],

       [[ 0.58638411,  0.01667424,  0.55490677],
        [ 1.45110527,  0.28050118, -1.07693486],
        [ 0.37543112, -0.90296244,  0.92921992]]])

In [58]:
#9) Crear una matriz 10 x 10 y encontrar el mayor y el menor
#diez = np.arange(100).reshape(10,10)
diez = np.random.rand(10,10).reshape(10,10)
maximo = diez.max()
minimo = diez.min()
print(maximo)
print(minimo)
print(diez)

0.9925493560134129
0.020676669942034542
[[0.16288944 0.34450118 0.38771615 0.42804581 0.74323698 0.28520945
  0.89958727 0.05834002 0.4037548  0.05036809]
 [0.63834003 0.41940545 0.95983596 0.2257576  0.37209472 0.52476707
  0.74064489 0.62798721 0.02523056 0.11516638]
 [0.72381783 0.04238684 0.8559812  0.42710424 0.37737743 0.13827394
  0.29284973 0.28138097 0.54002362 0.24465205]
 [0.15104687 0.68233372 0.76068077 0.28336696 0.19102666 0.72919906
  0.60642296 0.56597657 0.02067667 0.4145879 ]
 [0.7557577  0.02630906 0.77290978 0.9670294  0.71557244 0.45203168
  0.26332676 0.41681506 0.40393568 0.45267124]
 [0.79362613 0.62474216 0.75292988 0.71514738 0.66660673 0.48163298
  0.60708659 0.24130205 0.60366956 0.18639545]
 [0.72414166 0.24049573 0.99254936 0.570077   0.03098629 0.34835571
  0.35483193 0.16812636 0.33930132 0.64187268]
 [0.13068299 0.40432815 0.82599534 0.5396275  0.2614332  0.04751366
  0.09612678 0.82179074 0.78228026 0.50810906]
 [0.38527919 0.78751902 0.8897553  0.51343226 0.23010402 0.54629497
  0.91391272 0.68845242 0.60320011 0.40687292]
 [0.21036912 0.1275538  0.3155944  0.5008538  0.79357155 0.06007311
  0.79466994 0.25429451 0.64252556 0.13412653]]

In [ ]:
#10) Sacar los colores RGB unicos en una imagen (cuales rgb existen ej: 0, 0, 0 - 255,255,255 -> 2 colores)

In [26]:
#11) ¿Como crear una serie de una lista, diccionario o arreglo?
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
serieLista = pd.Series(mylist)
serieArray = pd.Series(myarr)
serieDict = pd.Series(mydict)
#print(serieLista)
#print(serieArray)
print(serieDict)

a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

In [27]:
#12) ¿Como convertir el indice de una serie en una columna de un DataFrame?
# Transformar la serie en dataframe y hacer una columna indice
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict) 
indices=list(ser.index.values)
ser_dataF = pd.DataFrame(ser)
ser_dataF[1] = indices
ser_dataF

    0  1
a   0  a
b   1  b
c   2  c
e   3  e
d   4  d
f   5  f
g   6  g
h   7  h
i   8  i
j   9  j
k  10  k
l  11  l
m  12  m
n  13  n
o  14  o
p  15  p
q  16  q
r  17  r
s  18  s
t  19  t
u  20  u
v  21  v
w  22  w
x  23  x
y  24  y
z  25  z

In [30]:
#13) ¿Como combinar varias series para hacer un DataFrame?
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))
ser12 = pd.DataFrame({'Serie 1': ser1 , 'Serie 2' : ser2})
ser12

   Serie 1  Serie 2
0        a        0
1        b        1
2        c        2
3        e        3
4        d        4
5        f        5
6        g        6
7        h        7
8        i        8
9        j        9
10       k       10
11       l       11
12       m       12
13       n       13
14       o       14
15       p       15
16       q       16
17       r       17
18       s       18
19       t       19
20       u       20
21       v       21
22       w       22
23       x       23
24       y       24
25       z       25

In [31]:
#14) ¿Como obtener los items que esten en una serie A y no en una serie B?
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
resp = ser1.isin(ser2)
for i in range(len(resp)):
  resp[i] = not resp[i]

ser1[resp]

0    1
1    2
2    3
dtype: int64

In [32]:
#15) ¿Como obtener los items que no son comunes en una serie A y serie B?
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
a = ser1[~ser1.isin(ser2)]
b = ser2[~ser2.isin(ser1)]
noIguales = np.append(a, b)
print(noIguales)

[1 2 3 6 7 8]

In [35]:
#16) ¿Como obtener el numero de veces que se repite un valor en una serie?
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
contar = ser.value_counts()
contar

b    9
d    5
a    4
h    4
c    4
g    2
e    1
f    1
dtype: int64

In [36]:
#17) ¿Como mantener los 2 valores mas repetidos de una serie, y a los demas valores cambiarles por 0 ?
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

In [39]:
#18) ¿Como transformar una serie de un arreglo de numpy a un DataFrame con un shape definido?
ser = pd.Series(np.random.randint(1, 10, 35))
#shape(7,5)
ser
df_definido = pd.DataFrame(ser.values.reshape(7,5))
print(df_definido)

   0  1  2  3  4
0  1  2  6  8  9
1  8  1  6  8  4
2  1  3  4  4  5
3  5  1  6  2  2
4  1  5  4  6  5
5  4  8  9  7  7
6  2  7  2  1  7

In [41]:
#19) ¿Obtener los valores de una serie conociendo la posicion por indice?
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
valoresIndice = ser[pos]
valoresIndice

0     a
4     e
8     i
14    o
20    u
dtype: object

In [49]:
#20) ¿Como anadir series vertical u horizontalmente a un DataFrame?
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
#vertical = pd.concat([ser1, ser2], axis=0)
vertical = pd.concat([ser1, ser2], axis=1)

vertical

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

In [45]:
#21)¿Obtener la media de una serie agrupada por otra serie?
#groupby tambien esta disponible en series.

frutas = pd.Series(np.random.choice(['manzana', 'banana', 'zanahoria'], 10))
pesos = pd.Series(np.linspace(1, 10, 10))
print(pesos.tolist())
print(frutas.tolist())
#> [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
#> ['banana', 'carrot', 'apple', 'carrot', 'carrot', 'apple', 'banana', 'carrot', 'apple', 'carrot']

# Los valores van a cambiar por ser random
# apple     6.0
# banana    4.0
# carrot    5.8
# dtype: float64
#df.groupby('Group')['ID'].nunique()
combinados = pesos.groupby(frutas).mean()
combinados

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
['banana', 'manzana', 'manzana', 'zanahoria', 'zanahoria', 'zanahoria', 'banana', 'manzana', 'manzana', 'zanahoria']

banana       4.00
manzana      5.50
zanahoria    6.25
dtype: float64

In [56]:
#22)¿Como importar solo columnas especificas de un archivo csv?
#https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv
path = 'C://Users//jeffe//Documents//GIT//python//py-collantes-yunga-jefferson-paul//Examen//BostonHousing.csv'
df1 = pd.read_csv(path)
columnas = ['crim','zn','age']
df2 = pd.read_csv(
    path,
    usecols = columnas)
df2

        crim    zn   age
0    0.00632  18.0  65.2
1    0.02731   0.0  78.9
2    0.02729   0.0  61.1
3    0.03237   0.0  45.8
4    0.06905   0.0  54.2
..       ...   ...   ...
501  0.06263   0.0  69.1
502  0.04527   0.0  76.7
503  0.06076   0.0  91.0
504  0.10959   0.0  89.3
505  0.04741   0.0  80.8

[506 rows x 3 columns]